.indexContainer{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-image:-webkit-linear-gradient(128deg, #ff9503, #ff6700); 
    background-image:linear-gradient(128deg,#ff9503,#ff6700);
    display: flex;
    flex-direction: column;
    text-align: center;
    .animate{
        height: 40%;
        width: 100%;
        margin-top: 50px;
    }
    h1{
        color: #fff;
        z-index: 6;
    }
    
}
.indexTitle{
    width: 11.5rem;
    height: 3.5rem;
    margin: 0 auto;
    //margin-top: 5rem;
    color: #000;
    font-size: 2rem;
    text-align: center;
    line-height: 3.5rem;
    background: url('../index/leaves.png') no-repeat;
    background-size: 100% 100%;
}
canvas{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image:-webkit-linear-gradient(128deg, #ff9503, #ff6700); 
    background-image:linear-gradient(128deg,#ff9503,#ff6700);
    display: flex;
    flex-direction: column;
    text-align: center;
}